.bookmarkCard{
    min-width: 200px;
    max-width: 300px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 0.25rem;
  }

  .cardUrl{
      text-decoration: none;
      color: #333333;
      font-size: 1rem;
  }

  .bookmarkList{
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    background-color: #ffffff;
    width: 100%;
    margin: 2px;
    padding: 0.25rem;
  }
  
